* {
  margin: 0;
  padding: 0;
}

#c {
  /* background: url("./img/space_stars_bg.jpg") no-repeat center center; */
  background: black;
  background-size: cover;
}

 #pauseBtn {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 10;
      padding: 10px 15px;
      font-size: 14px;
      border-radius: 24px;
      border: solid rgb(21, 85, 66) 2px;
      outline: none;
      background-color: rgb(29, 55, 29);
      color: white;
    }

#tooltip {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 10;
  }